<div class="card text-bg-secondary mb-3" style="width: 18rem; margin-left: 37%; margin-top:10% ;">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form method="post" action="/user/login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password"
                    id="exampleInputPassword1">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>